<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href='https://fonts.googleapis.com/css?family=Roboto Serif' rel='stylesheet'>
<link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">
    <title> Login </title>
</head>
<body>

<div class="bg-image"></div>
<div class="bg-text">
  <img src="https://seeklogo.com/images/U/upm-new-logo-6911DC0B99-seeklogo.com.png">
    <br>
    <h1> Welcome to DGAX </h1>
    <p> Login to continue </p>
    <form method="POST">
        <div class="form-group">
            <label for="email"></label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email"/>
        </div>
        <div class="form-group">
            <label for="password"></label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Enter password"/>
        </div>
        <br>
        <button type="submit" class="btn" >Login</button>
        <br>
        <a class="btn1" href="/sign-up">Click here to sign up</a>
    </form>

    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %} {% if category ==
    'error' %}
    <div class="alert-login">
      {{ message }}
    </div>
    {% else %}
    <div class="alert alert-success alter-dismissable fade show" role="alert">
      {{ message }}
    </div>
    {% endif %} {% endfor %} {% endif %} {% endwith %}
</div>
</body>
</html>